@font-face {
    font-family: 'Paralucent';
    src: url('./paralucent-medium.otf') format('opentype');
    font-weight: normal; /* Adjust if needed */
    font-style: normal;  /* Adjust if needed */
  }
  